In [1]:
import pandas as pd

Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [2]:
header=['surgery?','Age','Hospital Number','rectal temperature','pulse','respiratory rate','temperature of extremities','peripheral pulse','mucous membranes','capillary refill time','pain','peristalsis','abdominal distension','nasogastric tube','nasogastric reflux','nasogastric reflux PH','rectal examination - feces','abdomen','packed cell volume','total protein','abdominocentesis appearance','abdomcentesis total protein','outcome','surgical lesion?','type of lesion_1','type of lesion_2','type of lesion_3','cp_data']

In [3]:
df0 = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', names=header, na_values = '?')
# При чтении знаки ? были заменены на NaN. О наличии таких значений узнали через value_counts()

In [4]:
header=['surgery?','Age','Hospital Number','rectal temperature','pulse','respiratory rate','temperature of extremities','peripheral pulse','mucous membranes','capillary refill time','pain','peristalsis','abdominal distension','nasogastric tube','nasogastric reflux','nasogastric reflux PH','rectal examination - feces','abdomen','packed cell volume','total protein','abdominocentesis appearance','abdomcentesis total protein','outcome','surgical lesion?','type of lesion_1','type of lesion_2','type of lesion_3','cp_data']

In [5]:
df0.head()

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion_1,type of lesion_2,type of lesion_3,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [6]:
df=df0[['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']]
# оставим только нужные колонки

In [7]:
df.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [8]:
df.describe()
# основные статистические показатели

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [9]:
df['Age'].unique() # выводим уникальные значения для категориальных признаков для проверки

array([1, 9], dtype=int64)

Выбросы для категориальных данных.
Делаем оценку экспертно.
Хирургия, принимает только два значения, выбросов нет.
Возраст может принимать только два значения 1 и 2, фактически в датафрейме 1 и 9. Считаю заполнено некорректно
верить колонке нельзя, либо 9 и 2 перепутаны, либо весь некорреткный.
Температура конечностей от 1 до 4, выбросов нет.
Боль, уровни от 1 до 5, выбросов нет.

In [24]:
q1_p = df['pulse'].quantile(0.25)      # выбросы по пульсу
q3_p = df['pulse'].quantile(0.75)
iqr_p = q3_p - q1_p
lower_bound_p = q1_p - (1.5 * iqr_p)
upper_bound_p = q3_p + (1.5 * iqr_p)
remove_outliers_p = df[~df['pulse'].between(lower_bound_p, upper_bound_p, inclusive=True)]
remove_outliers_p

C:\Users\Андрей Ковалев\AppData\Local\Temp\ipykernel_3600\4230753738.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers_p = df[~df['pulse'].between(lower_bound_p, upper_bound_p, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
78,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
83,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
136,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
182,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
204,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0

In [25]:
q1_r = df['respiratory rate'].quantile(0.25)      # выбросы по частоте дыхания
q3_r = df['respiratory rate'].quantile(0.75)
iqr_r = q3_r - q1_r
lower_bound_r = q1_r - (1.5 * iqr_r) 
upper_bound_r = q3_r + (1.5 * iqr_r)
remove_outliers_r = df[~df['respiratory rate'].between(lower_bound_r, upper_bound_r, inclusive=True)]
remove_outliers_r

C:\Users\Андрей Ковалев\AppData\Local\Temp\ipykernel_3600\1294196607.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers_r = df[~df['respiratory rate'].between(lower_bound_r, upper_bound_r, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
284,2.0,1,38.5,54.0,NaN,1.0,3.0,1.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

In [26]:
q1_t = df['rectal temperature'].quantile(0.25)      # выбросы по температуре
q3_t = df['rectal temperature'].quantile(0.75)
iqr_t = q3_t - q1_t
lower_bound_t = q1_t - (1.5 * iqr_t) 
upper_bound_t = q3_t + (1.5 * iqr_t)
remove_outliers_t = df[~df['rectal temperature'].between(lower_bound_t, upper_bound_t, inclusive=True)]
remove_outliers_t

C:\Users\Андрей Ковалев\AppData\Local\Temp\ipykernel_3600\3317885730.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers_t = df[~df['rectal temperature'].between(lower_bound_t, upper_bound_t, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
...,...,...,...,...,...,...,...,...
282,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [34]:
(df.isna().mean() * 100).round(2) # % пропусков по каждому столбцу

surgery?                       0.33
Age                            0.00
rectal temperature            20.00
pulse                          8.00
respiratory rate              19.33
temperature of extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

In [39]:
(df.isna().mean() * len(df)) # количество пропусков по каждому столбцу

surgery?                       1.0
Age                            0.0
rectal temperature            60.0
pulse                         24.0
respiratory rate              58.0
temperature of extremities    56.0
pain                          55.0
outcome                        1.0
dtype: float64

In [ ]:
fill_mean = titanic.copy()

fill_mean['Age'] = fill_mean['Age'].fillna(titanic['Age'].mean())

In [97]:
df_new=df.copy()
df_new['surgery?'] = df_new['surgery?'].fillna(df['surgery?'].mode()[0])  
#по столбцу операции есть один пропуск. Заменяем самым часто встречающимя значением.
#cреднее не применимо, пропуск случайный, взаимосвязь с иными данными не прослеживается
df_new['rectal temperature'] = df_new['rectal temperature'].fillna(df['rectal temperature'].mean())  
# пропуску по темпреатуре заменяем средним. На практике можно построить более сложную модель, которая бы проверяла
#наличии признаков болезни и если они есть, заменять темпратуру средней нельзя.
df_new['pulse'] = df_new['pulse'].fillna(df['pulse'].mean())  
#пульс также заменим срежним, хотя при наличии возраста животного, есть зависимости с пульсом(у жеребят больше).
#Но так как колонка Age в данном датасете вероятно заполнена некорректно, оставим просто среднее.
df_new['respiratory rate'] = df_new['respiratory rate'].fillna(df['respiratory rate'].mean()) 
# замена средним
df_new['temperature of extremities'] = df_new['temperature of extremities'].fillna(df['temperature of extremities'].mean()) 
# замена средним
df_new['pain'] = df_new['pain'].fillna(df['pain'].mode()[0])
# замена модой
df_new['outcome'] = df_new['outcome'].fillna(df['outcome'].mode()[0])
# замена модой

In [98]:
(df_new.isna().mean() * len(df))

surgery?                      0.0
Age                           0.0
rectal temperature            0.0
pulse                         0.0
respiratory rate              0.0
temperature of extremities    0.0
pain                          0.0
outcome                       0.0
dtype: float64

Вывод по пропускам.
В данном датасете явно есть больные особи, на практике считаю более правильным, разделить всех лошадей на категории больные и здоровые. Соответвенно и замену пропусков необходимо производить по-разному.
То есть моды и средние должны считаться отдельно по группе здоровых и больных. 
Таже можно предусмотреть деление на взрослых лошадей и жеребят.