In [1]:
import pandas as pd

Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [2]:
header=['surgery?','Age','Hospital Number','rectal temperature','pulse','respiratory rate','temperature of extremities','peripheral pulse','mucous membranes','capillary refill time','pain','peristalsis','abdominal distension','nasogastric tube','nasogastric reflux','nasogastric reflux PH','rectal examination - feces','abdomen','packed cell volume','total protein','abdominocentesis appearance','abdomcentesis total protein','outcome','surgical lesion?','type of lesion_1','type of lesion_2','type of lesion_3','cp_data']

In [3]:
df0 = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', names=header, na_values = '?')
# При чтении знаки ? были заменены на NaN. О наличии таких значений узнали через value_counts()

In [4]:
header=['surgery?','Age','Hospital Number','rectal temperature','pulse','respiratory rate','temperature of extremities','peripheral pulse','mucous membranes','capillary refill time','pain','peristalsis','abdominal distension','nasogastric tube','nasogastric reflux','nasogastric reflux PH','rectal examination - feces','abdomen','packed cell volume','total protein','abdominocentesis appearance','abdomcentesis total protein','outcome','surgical lesion?','type of lesion_1','type of lesion_2','type of lesion_3','cp_data']

In [5]:
df0.head()

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion_1,type of lesion_2,type of lesion_3,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [6]:
df=df0[['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']]
# оставим только нужные колонки

In [7]:
df.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [11]:
df.describe()
# основные статистические показатели

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.080000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,0.271746,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [12]:
df['Age'].unique() # выводим уникальные значения для категориальных признаков для проверки

array([1, 2], dtype=int64)

In [9]:
df['Age'] = df['Age']. replace (9, 2)
# считаем, что в возрасте везде где должна была быть 2, стоит ошибочно 9. Поэтому производим замену.

C:\Users\Андрей Ковалев\AppData\Local\Temp\ipykernel_9996\2519567394.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = df['Age']. replace (9, 2)

Выбросы для категориальных данных.
Делаем оценку экспертно.
Хирургия, принимает только два значения, выбросов нет.
Температура конечностей от 1 до 4, выбросов нет.
Боль, уровни от 1 до 5, выбросов нет.

In [19]:
q1_p = df['pulse'].quantile(0.25)      # выбросы по пульсу
q3_p = df['pulse'].quantile(0.75)
iqr_p = q3_p - q1_p
lower_bound_p = q1_p - (1.5 * iqr_p)
upper_bound_p = q3_p + (1.5 * iqr_p)
remove_outliers_p = df[~df['pulse'].between(lower_bound_p, upper_bound_p, inclusive=True)]
remove_outliers_p.head()

C:\Users\Андрей Ковалев\AppData\Local\Temp\ipykernel_9996\3721463301.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers_p = df[~df['pulse'].between(lower_bound_p, upper_bound_p, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0

In [20]:
q1_r = df['respiratory rate'].quantile(0.25)      # выбросы по частоте дыхания
q3_r = df['respiratory rate'].quantile(0.75)
iqr_r = q3_r - q1_r
lower_bound_r = q1_r - (1.5 * iqr_r) 
upper_bound_r = q3_r + (1.5 * iqr_r)
remove_outliers_r = df[~df['respiratory rate'].between(lower_bound_r, upper_bound_r, inclusive=True)]
remove_outliers_r.head()

C:\Users\Андрей Ковалев\AppData\Local\Temp\ipykernel_9996\645345397.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers_r = df[~df['respiratory rate'].between(lower_bound_r, upper_bound_r, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
9,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0

In [21]:
q1_t = df['rectal temperature'].quantile(0.25)      # выбросы по температуре
q3_t = df['rectal temperature'].quantile(0.75)
iqr_t = q3_t - q1_t
lower_bound_t = q1_t - (1.5 * iqr_t) 
upper_bound_t = q3_t + (1.5 * iqr_t)
remove_outliers_t = df[~df['rectal temperature'].between(lower_bound_t, upper_bound_t, inclusive=True)]
remove_outliers_t.head()

C:\Users\Андрей Ковалев\AppData\Local\Temp\ipykernel_9996\4008870625.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers_t = df[~df['rectal temperature'].between(lower_bound_t, upper_bound_t, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0

Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [17]:
(df.isna().mean() * 100).round(2) # % пропусков по каждому столбцу

surgery?                       0.33
Age                            0.00
rectal temperature            20.00
pulse                          8.00
respiratory rate              19.33
temperature of extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

In [18]:
(df.isna().mean() * len(df)) # количество пропусков по каждому столбцу

surgery?                       1.0
Age                            0.0
rectal temperature            60.0
pulse                         24.0
respiratory rate              58.0
temperature of extremities    56.0
pain                          55.0
outcome                        1.0
dtype: float64

In [89]:
df_unhealthy=df[((df['pain'] >= 4) & (df['surgery?'] == 1)) | 
                ((df['pain'] >= 4) & (df['outcome'] == 3)) | 
                ((df['pain'] >= 4) & (df['rectal temperature'] >= 39)) | 
                ((df['outcome'] == 3) & (df['rectal temperature'] >= 39)) | 
                ((df['outcome'] == 3) & (df['surgery?'] == 1))]
df_unhealthy.info()
(df_unhealthy.isna().mean() * len(df_unhealthy)).round(0)
# разделим датафрейм на больных и здоровых лошадей, считаем если лошадь испытывает сильную боль и была операция
# либо лошадь усыпили либо высокая температура, значит лошадь больна вне завимости от возраста.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86 entries, 1 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    86 non-null     float64
 1   Age                         86 non-null     int64
 2   rectal temperature          61 non-null     float64
 3   pulse                       76 non-null     float64
 4   respiratory rate            67 non-null     float64
 5   temperature of extremities  73 non-null     float64
 6   pain                        79 non-null     float64
 7   outcome                     86 non-null     float64
dtypes: float64(7), int64(1)
memory usage: 6.0 KB

surgery?                       0.0
Age                            0.0
rectal temperature            25.0
pulse                         10.0
respiratory rate              19.0
temperature of extremities    13.0
pain                           7.0
outcome                        0.0
dtype: float64

In [90]:
df_healthy=df[~(((df['pain'] >= 4) & (df['surgery?'] == 1)) | 
                ((df['pain'] >= 4) & (df['outcome'] == 3)) | 
                ((df['pain'] >= 4) & (df['rectal temperature'] >= 39)) | 
                ((df['outcome'] == 3) & (df['rectal temperature'] >= 39)) | 
                ((df['outcome'] == 3) & (df['surgery?'] == 1)))]
df_healthy.info()
(df_healthy.isna().mean() * len(df_healthy)).round(0)
# остальных лошадей считаем здоровыми

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    213 non-null    float64
 1   Age                         214 non-null    int64
 2   rectal temperature          179 non-null    float64
 3   pulse                       200 non-null    float64
 4   respiratory rate            175 non-null    float64
 5   temperature of extremities  171 non-null    float64
 6   pain                        166 non-null    float64
 7   outcome                     213 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 15.0 KB

surgery?                       1.0
Age                            0.0
rectal temperature            35.0
pulse                         14.0
respiratory rate              39.0
temperature of extremities    43.0
pain                          48.0
outcome                        1.0
dtype: float64

In [102]:
print(df_unhealthy.groupby('Age')['rectal temperature'].median())
df_unhealthy_age = df_unhealthy.copy()
df_unhealthy_age['rectal temperature'] = df_unhealthy_age['rectal temperature']\
.fillna(df_unhealthy.groupby('Age')['rectal temperature'].transform('median'))
# жеребята всегда теплее взрослых лошадей (датафрейм также это подтверждает), 
# поэтому температуру будем определять отдельно для этих групп. 
print(df_unhealthy.groupby('Age')['pulse'].median())
df_unhealthy_age['pulse'] = df_unhealthy_age['pulse'].fillna(df_unhealthy.groupby('Age')['pulse'].transform('median'))
# пульс жеребят также сильно отличается, он выше чем у взрослых лошадей
print(df_unhealthy.groupby('Age')['respiratory rate'].median())
df_unhealthy_age['respiratory rate'] = df_unhealthy_age['respiratory rate']\
.fillna(df_unhealthy.groupby('Age')['respiratory rate'].transform('median'))
# частота дыхания жеребят также  отличается, он выше чем у взрослых лошадей
df_unhealthy_age['temperature of extremities'] = df_unhealthy_age['temperature of extremities']\
.fillna(df_unhealthy.groupby('Age')['temperature of extremities'].transform('median'))
# частота дыхания жеребят также  отличается, он выше чем у взрослых лошадей
df_unhealthy_age['pain'] = df_unhealthy_age['pain']\
.fillna(df_unhealthy.groupby('Age')['pain'].transform(lambda x: x.mode()[0]))
# боль заменяем модой
df_unhealthy_age.info()

Age
1    38.0
2    38.8
Name: rectal temperature, dtype: float64
Age
1     80.0
2    136.0
Name: pulse, dtype: float64
Age
1    30.0
2    49.0
Name: respiratory rate, dtype: float64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 86 entries, 1 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    86 non-null     float64
 1   Age                         86 non-null     int64
 2   rectal temperature          86 non-null     float64
 3   pulse                       86 non-null     float64
 4   respiratory rate            86 non-null     float64
 5   temperature of extremities  86 non-null     float64
 6   pain                        86 non-null     float64
 7   outcome                     86 non-null     float64
dtypes: float64(7), int64(1)
memory usage: 6.0 KB

In [125]:
print(df_unhealthy['pain'].mode()[0])
print(df_unhealthy_age['pain'].mode()[0])
# проверим, что модой заполненеи прошло корерктно, значения равны, соответственно все ОК

4.0
4.0

In [111]:
df_res = pd.concat([df_unhealthy_age, df_healthy_age])
(df_res.isna().mean() * len(df))  
# Объединим датафреймы больных и здоровых лошадей с заполненными пропусками. Как видно пропусков не осталось.

surgery?                      0.0
Age                           0.0
rectal temperature            0.0
pulse                         0.0
respiratory rate              0.0
temperature of extremities    0.0
pain                          0.0
outcome                       0.0
dtype: float64